
/* here * is used to give style to all the elements */
*{ 
  margin :0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto',sans-serif;
}

.navbar{
    /* sticky means navbar will stick to top */
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    background-color: #b760d1;
    /* set z-index to highest value so that navbar is on top of all other elements */
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    /*using flex for space between logo and search box */
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 60px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #141111 ;
    text-transform: capitalize;
    background: none;
    color: #b564db;
    outline: none;
}

.search-btn{
    width:  20%;
    height: 40%;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #ffff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-box::placeholder{
    color: #0c0808;
}

.nav-items a{
    margin-left: 20px;

}

.nav-items a img{
    width: 30px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;

}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #0f0e0e;
    opacity: 0.9;
    transition: .5s;
}
/*change created */
